data/cache/*
.RData
.RHistory
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
*.Rproj
*.pdf
*.png
*.rds
*.doc*
*_cache
*_files
*.html
*.log
*.lof
*.lot
*.aux
*.bbl
*.blg
*~
~$*
*.dvi
*.ps
*.7z
*.toc
*.out
*.vrb
*.nav
*.snm
*.upa
*.upb
doc/figure
doc/res-doc.tex
docMSE/res-docMSE.tex
doc/knitr-cache
models*
*-concordance.tex
*.synctex.gz
*.synctex(busy)
.DS_Store
doc/knitr-cache/
retrospectives*/
retrospectives/
